# Logs
*.log
*.log1
*.log2
*.log3
*.log.1
*.cmd

# Reports
*.rpt
*.out
*.jou
*.gz
*.rpt.old
*.logv


# Build
build/
timingReports/
fv/
docs/
innovus_temp_3394531_03f1af53-a580-4a14-a973-9faeae7faae0_eda-4.EECS.Berkeley.EDU_eecs251b-aaj_C9fdQd/

# Waveform
*.vcd
*.fsdb

# Databases
*.db
*.metrics
*.map
*.gz

# temp files
*.cdslck